@import url(./loading.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --selective-yellow: rgba(250, 192, 0, 0.993);
  --alabaster: #ebe5dcff;
  --camel: #b59779ff;
  --liver-organ: #642919ff;
  --liver-dogs: #b56a2dff;
}
/* todo */
/* 
*#############
* index.html
*#############
*/
body {
  margin: 0 auto;
  background-color: var(--color2);
  height: 100vh;
  background-color: rgb(249, 215, 181);
}

header h1 {
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  color: rgb(95, 204, 247);
  box-shadow: 10px 5px 5px black;
  text-shadow: 0 0 5 px black;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  align-items: center;

  /* justify-content: center; */
}
/*
     &formulario 
 */
form {
  /* debbug */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-image: url(../IMG/cabecera.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}
/*media query + 390px*/

form input {
  height: fit-content;
  margin: 1rem;
  width: 50vw;
  min-width: 300px;
  height: 2.5rem;
  outline: none;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

ul {
  position: absolute;
  margin: 0;
  padding: 0;
}

li {
  background-color: rgb(224, 252, 252, 50);
  list-style: none;
  padding: 8px 12px;
  width: 75%;
  cursor: default;
  border-radius: 3px;
}

.autocom-box ul li.active {
  color: #008;
  background: #cef;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.717);
  color: white;
}
#pasajeros::before {
  content: "🕴";
}

/* !IMPORTANTE llevar al ccs final */
input:invalid:focus {
  color: red;
}

button {
  width: fit-content;
}
/*
     &Tarjeta de vuelo
 */

.vuelos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  gap: 1rem;
}
article {
  margin-top: 1rem;
  border: 1px solid rgb(62, 61, 61);
  background-color: #ffffff;
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
  border-radius: 5px;
  list-style: none;
  width: 85vw;
  /* 
    ^flex section
  */
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.vuelos article section {
  border: 1px solid rgb(62, 61, 61);
  background-color: #ffffff;
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
  border-radius: 5px;
  list-style: none;
  width: 85vw;
  /* 
    ^flex section
  */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  height: 48px;
}
.aerolinea {
  background-color: blue;
  /*justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
}
/*
     !la imagen trae franjas blancas 
*/
img {
  margin-left: 0.5;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

article p {
  padding: 0.5rem;
}
/* article p:last-child {
  height: 100%;
  background-color: #bdbdbdb3;
} */
/* 
*#############
* vuelo.html
*#############
*/
#vueloInd section h2 {
  text-align: center;
}
#vueloInd section {
  display: flex;
  flex-direction: column;
}
#vueloInd section > section {
  padding: 1.5rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

/* 
*#############
* Media queries
*#############
*/

/* !nuevo
  &para pantallas de ancho menor a 350
*/
@media (max-width: 350px) {
  .logo {
    height: 30px;
  }
  article {
    font-size: 12px;
  }
}
/* 
  &para pantallas de ancho mayor a 900px
*/
@media (min-width: 900px) {
  form input {
    max-width: 600px;
  }
  form {
    align-items: flex-end;
  }
}
/* 
  &para pantallas de ancho mayor a 1500px
*/
@media (min-width: 1500px) {
  form input {
    margin-right: 5rem;
  }
}
