@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,600&display=swap");
@import url(./loading.css);

/* 
font-family: 'Fredoka One', cursive;
font-family: 'Source Serif 4', serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --selective-yellow: #f2ba04;
  --alabaster: #ebe5dc;
  --camel: #b59779ff;
  --liver-organ: #642919ff;
  --liver-dogs: #b56a2dff;
  font-family: "Source Serif 4", serif;
  --body: #5da36f;
}
/* todo */
/* 
*#############
* index.html
*#############
*/
body {
  margin: 0 auto;
  background-color: var(--color2);
  height: 100vh;
  /* background-color: rgb(249, 215, 181); */
  background-color: var(--body);
}

header h1 {
  padding: 1rem;
  font-family: "Fredoka One";
  text-align: center;
  font-weight: bold;
  color: var(--liver-dogs);
  text-shadow: 1px 1px 1px black;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  align-items: center;
}
/*
     &formulario 
 */
form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-image: url(../IMG/cabecera.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
}

form input,
ul {
  height: fit-content;
  margin: 1rem;
  width: 50vw;
  min-width: 300px;
  height: 2.5rem;
  outline: none;
  border: none;
  text-align: center;
  font-size: 12px;
}
form input {
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}
form input#aeropuerto-salida,
form input#aeropuerto-llegada {
  margin-bottom: 0;
}

div.autocom-box ul {
  position: absolute;
  padding: 0;
  margin: 0;
  padding: 0;
}

li {
  background-color: rgb(224, 252, 252, 50);
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
}
li:first-child {
  border-radius: 3px 3px 0px 0px;
}
li:last-child {
  border-radius: 0px 0px 3px 3px;
}
.autocom-box ul li.active {
  color: #008;
  background: #cef;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.717);
  color: white;
}

/* !IMPORTANTE llevar al ccs final */
input:invalid:focus {
  color: red;
}

button {
  width: fit-content;
}
/*
     &Tarjeta de vuelo
 */
.error {
  border: 1px solid rgb(62, 61, 61);
  background-color: #ffffff;
  border-radius: 5px;
  list-style: none;
  width: 85vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
}
.error p:first-child {
  font-size: 30px;
}
.error p:first-child::after {
  content: "😰";
}
.vuelos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0 auto;
  gap: 1rem;
}
article {
  margin-top: 1rem;
  border-radius: 5px;
  list-style: none;
  width: 85vw;
  /* 
    ^flex section
  */
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.vuelos article section {
  border: 1px solid rgb(62, 61, 61);
  background-color: #ffffff;
  border-radius: 5px;
  list-style: none;
  width: 85vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.idVuelo > section.detalle {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  opacity: 0;
  height: 0;
}

.idVuelo > section.detalle.notHide {
  opacity: 1;
  height: fit-content;
}

.idVuelo {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(62, 61, 61);
  background-color: #ffffff;
  box-shadow: rgb(38, 57, 77) 0px 10px 20px -10px;
}
.idVuelo article {
  padding: 0.5rem;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}
.idVuelo article:first-child {
  font-weight: bold;
}
.logo {
  height: 48px;
}
/*
     !la imagen trae franjas blancas 
*/
img {
  margin-left: 0.5;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

article p {
  padding: 0.5rem;
}

/**!Añadiddo iñaki noche del miercoles*/
.vuelos .idVuelo .covid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 3rem;
}

.covidCard {
  display: flex;
  flex-direction: column;
}

.vuelos .idVuelo .detallesCovid {
  opacity: 0;
  height: 0;
}

.vuelos .idVuelo .notHide {
  opacity: 1;
  height: fit-content;
}

/* 
*#############
* Media queries
*#############
*/

/* !nuevo
  &para pantallas de ancho menor a 350
*/
@media (max-width: 350px) {
  .logo {
    height: 25px;
  }
  article {
    font-size: 12px;
  }
}

/* 
  &para pantallas de ancho mayor a 900px
*/
@media (min-width: 900px) {
  form input {
    max-width: 600px;
  }
  form {
    align-items: flex-end;
  }
}

/* 
  &para pantallas de ancho mayor a 1500px
*/
@media (min-width: 1500px) {
  form input {
    margin-right: 5rem;
  }
}
