@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Source+Serif+4:ital,opsz,wght@0,8..60,200;0,8..60,300;0,8..60,400;0,8..60,500;0,8..60,600;0,8..60,700;1,8..60,200;1,8..60,300;1,8..60,400;1,8..60,600&display=swap");
@import url(./loading.css);

/* 
font-family: 'Fredoka One', cursive;
font-family: 'Source Serif 4', serif;
*/

* {
	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}

html {
	--selective-yellow: rgba(250, 192, 0, 0.993);
	--alabaster: #ebe5dcff;
	--camel: #b59779ff;
	--liver-organ: #642919ff;
	--liver-dogs: #b56a2dff;
	--background:rgb(255, 255, 255);
	font-family: "Source Serif 4", serif;
	font-size: 24px;
	font-family: 'Source Serif 4', serif;


}

body {
	background-color: var(--background);
	height: 100vh;
}

header h1 {
  font-family: "Fredoka One";
  /* font-size: 2.8rem; */
  text-align: center;
  text-shadow: -4px 3px 0 #34d16e, -14px 7px 0 #0a0e27;
  -webkit-background-clip: text;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  color: transparent;
  font-size: 107px;
  margin: 0.6rem auto;
  line-height: 90px;
  letter-spacing: -4px;
}

main {
  text-align: center;
}

/* &formulario */
 form {
	background-image: url(../IMG/cabecera.png);
  padding: 0.1rem;
	background-size: cover;
	align-items: center;
	box-shadow: 1px 10px 10px 6px #0c341b69;

  }

form input {
  color: black;
  margin: 0.5rem;
  width: 80vw;
  min-width: 300px;
  height: 2rem;
  font-size: 0.5rem;
  /* outline: none; */
  border: none;
  border-radius: 12px;
  text-align: center;
  box-shadow: -7px 4px 3px 0px #0c341ac5;
  max-width: 350px;
  background-color: #fafafac5;
  }

  

input[type="date"]{
    text-align: center;
}
  
input::placeholder{
  color: gray;
  text-align: center;
  font-style: italic;
}
label {
  position: relative;
}

label span {
  position: absolute;
  font-size: 0.7rem;
  top: 8px;
  right: 24px;
  color: gray;
  text-align: center;
  
  font-style: italic;
}


input:invalid:focus { /* !IMPORTANTE llevar al ccs final */
	color: red;
}

  .vuelos {
	margin: 45px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  

  .containerCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-block: 2rem;
    gap: 2rem;
  }
  

  .card {
    display: flex;
    flex-direction: column;
    width: clamp(10rem, calc(12rem + 8vw), 16rem);    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    background-color: rgba(250, 192, 0, 0.756);
    box-shadow: 14px 14px 10px 6px rgb(0 0 0 / 10%);
  
  }


  article {
    margin-top: 1rem;
    border-radius: 5px;
    list-style: none;
    width: 85vw;
    /* 
      ^flex section
    */
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .vuelos article section {
    border: 1px solid rgb(62, 61, 61);
    background-color: #ffffff;
    border-radius: 5px;
    list-style: none;
    width: 85vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .idVuelo > section.detalle {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    opacity: 0;
    height: 0;
  }
  
  .idVuelo > section.detalle.notHide {
    opacity: 1;
    height: fit-content;
  }
  
  .idVuelo {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(62, 61, 61); */
    /* background-color: #ffffff; */
    box-shadow: rgb(38 57 77) 0px 10px 20px -10px;
    /* flex-wrap: wrap; */
}
  
  .idVuelo article {
    padding: 0.5rem;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
  }
  .idVuelo article:first-child {
    font-weight: bold;
  }
  .logo {
    height: 48px;
  }
  /**!Añadiddo iñaki noche del miercoles*/
.vuelos .idVuelo .covid {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding-left: 3rem;
}

.covidCard {
  display: flex;
  flex-direction: column;
}

.vuelos .idVuelo .detallesCovid {
  opacity: 0;
  height: 0;
}

.vuelos .idVuelo .notHide {
  opacity: 1;
  height: fit-content;
}


/*!-----------------------------------


*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Quicksand", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  background: #7f7fd5;
  background: linear-gradient(to right, #91eae4, #86a8e7, #7f7fd5);
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1200px;
  margin-block: 2rem;
  gap: 2rem;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(20rem, calc(20rem + 2vw), 22rem);
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 1em;
  background: #ECE9E6;
background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}



.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
}

.tag + .tag {
  margin-left: .5em;
}

.tag-blue {
  background: #56CCF2;
background: linear-gradient(to bottom, #2F80ED, #56CCF2);
  color: #fafafa;
}

.tag-brown {
  background: #D1913C;
background: linear-gradient(to bottom, #FFD194, #D1913C);
  color: #fafafa;
}

.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}

.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
}

.card__footer {
  display: flex;
  padding: 1rem;
  margin-top: auto;
}

.user {
  display: flex;
  gap: .5rem;
}

.user__image {
  border-radius: 50%;
}

.user__info > small {
  color: #666;
}