@import url(./loading.css);
/* todo */
/* 
*#############
* index.html
*#############
*/
body {
  margin: 0 auto;
  background-color: rgb(133, 204, 254);
  height: 100vh;
}
header h1 {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  align-items: center;
  padding: 1rem;
  /* justify-content: center; */
}

form {
  /* debbug */
  border: 1px solid yellow;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  width: 500px;
}

ul {
  position: absolute;
  margin: 0;
  padding: 0;
}

section {
  display: flex;
  justify-content: center;
}

form input {
  height: fit-content;
  margin: 1rem;
  width: 467px;
}
/* !IMPORTANTE llevar al ccs final */
input:invalid:focus {
  color: red;
}
button {
  width: fit-content;
}
.vuelos {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0 auto;
  gap: 1rem;
}

article {
  border: 1px solid rgb(62, 61, 61);
  background-color: #ffffff80;
  border-radius: 5px;
  width: 85vw;
}
li {
  background-color: rgb(224, 252, 252, 50);
  list-style: none;
  padding: 8px 12px;
  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.autocom-box ul li.active {
  color: #008;
  background: #cef;
  border: 1px #008, solid;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.717);
  color: white;
}
.logo {
  height: 48px;
}
/*
!la imagen trae franjas blancas 
 */
img {
  margin-left: 0.5;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}
/* p:first-child {
  background-color: white;

} */
/* 
^
^Tarjetas
^
*/
article {
  /* debbug */
  border: 1px solid rgb(62, 61, 61);
  background-color: #ffffff80;
  border-radius: 5px;
  list-style: none;
  width: 85vw;
  /* 
    & flex section
    */
  display: flex;
  justify-content: space-between;
}
article p {
  /* display: flex; */
  padding: 0.5rem;
}

/* 
*#############
* vuelo.html
*#############
*/
#vueloInd section h2 {
  text-align: center;
}
#vueloInd section {
  display: flex;
  flex-direction: column;
}
#vueloInd section > section {
  padding: 1.5rem;
  border: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
